.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(120, 82, 178);
    margin: 5px 5px;
    height: 60px;
    align-items: center;
}

.home-button{
    color: white;
    font-weight: bold;
    margin-left: 20px;
    font-family: Arial;
}

.search-field{
    width: 500px;
    border-radius: 20px;
    border: none;
    padding: 8px 15px;
}

.download-button{
    background-color: rgb(120, 82, 178);
    color: white;
    border: 2px solid white;
    padding: 8px 10px;
    margin-right: 10px;
    font-size: 15px;
}