.main-content-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 18px;
    row-gap: 16px;
    padding: 20px;

    position: relative;
    top: 49px;
    left: 64px;
    right: 20px;
    bottom: 0;
}

.video-card-container {
    display: flex;
    flex-direction: column;
    padding: 4px;
}

.video-info-container {
    display: flex;
    margin-top: 12px;
    margin-bottom: 16px;
}

.video-thumbnail {
    width: 100%;
}

.profile-image {
    font-family: Roboto;
    width: 36px;
    height: 36px;
    border-radius: 36px;
    margin-right: 10px;
}

.video-title {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 12px;
}

.video-author-and-info {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    color: #606060;
    line-height: 20px;
    text-decoration: none;    
}