.main-content-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 8px;
    row-gap: 3px;
}

.video-card-container {
    display: flex;
    flex-direction: column;
    padding: 4px;
    margin-top: 12px;
}

.video-info-container {
    display: flex;
    margin-top: 9px;
    margin-bottom: 16px;
}

.info-container {
    margin-left: 12px;
    line-height: 16px;
}

.video-thumbnail-container {
    position: relative;
}

.video-thumbnail {
    width: 100%;
}

.video-time {
    font-size: Roboto,Arial;
    background-color: black;
    color: white;
    font-size: 13px;
    padding: 3px;
    position: absolute;
    right: 5px;
    bottom: 10px;
}

.profile-image {
    font-family: Roboto;
    width: 100%;
    width: 36px;
    height: 36px;
    border-radius: 36px;
}

.video-title {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
}

.video-author-and-info {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    color: #606060;
    text-decoration: none;
}